<form nz-form
  nzLayout="vertical"
  [formGroup]="form"
  (ngSubmit)="submit()">
  <nz-row class="navigation">
    <nz-col>
      <button nz-button
        nzType="primary"
        nzShape="circle"
        (click)="back()"><i nz-icon
          nzType="arrow-left"
          nzTheme="outline"></i></button>
    </nz-col>
  </nz-row>
  <nz-form-item>
    <nz-form-label nzRequired
      nzFor="name">Name</nz-form-label>
    <nz-form-control nzErrorTip="Please input name">
      <input type="text"
        nz-input
        formControlName="name"
        placeholder="Please input name" />
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label nzRequired
      nzFor="name">Age</nz-form-label>
    <nz-form-control nzErrorTip="Please input age">
      <input type="text"
        nz-input
        formControlName="age"
        placeholder="Please input age" />
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label nzRequired
      nzFor="name">City</nz-form-label>
    <nz-form-control nzErrorTip="Please input city">
      <input type="text"
        nz-input
        formControlName="city"
        placeholder="Please input city" />
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label nzRequired
      nzFor="name">Note</nz-form-label>
    <nz-form-control nzErrorTip="Please input note">
      <textarea type="text"
        nz-input
        formControlName="note"
        [nzAutosize]="{ minRows: 2, maxRows: 3 }"
        placeholder="Please input note"> </textarea></nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <button nz-button
      nzType="primary"
      nzSize="large"
      nzShape="round"
      type="submit"><i nz-icon
        nzType="save"
        nzTheme="outline"></i> Save</button>
  </nz-form-item>
</form>
