<nz-spin nzTip="Loading..."
  [nzSpinning]="isLoading">
  <form nz-form
    nzLayout="vertical"
    [formGroup]="form"
    (ngSubmit)="submit()"
    (keyup.enter)="submit()">
    <nz-row class="navigation">
      <nz-col>
        <button nz-button
          nzType="primary"
          nzShape="circle"
          type="button"
          (click)="back()"><i nz-icon
            nzType="arrow-left"
            nzTheme="outline"></i></button>
      </nz-col>
    </nz-row>
    <nz-form-item>
      <nz-form-label nzRequired
        nzFor="name">Name</nz-form-label>
      <nz-form-control [nzErrorTip]="nameError">
        <input type="text"
          nz-input
          formControlName="name"
          placeholder="Please input name" />
      </nz-form-control>
      <ng-template #nameError>Name should be at least 4 letters. </ng-template>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label nzRequired
        nzFor="name">Age</nz-form-label>
      <nz-form-control [nzErrorTip]="ageError">
        <input type="text"
          nz-input
          formControlName="age"
          placeholder="Please input age" />
      </nz-form-control>
      <ng-template #ageError>Age should be between (18-150). </ng-template>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label nzRequired
        nzFor="name">City</nz-form-label>
      <nz-form-control [nzErrorTip]="cityError">
        <input type="text"
          nz-input
          formControlName="city"
          placeholder="Please input city" />
        <ng-template #cityError>City should be at least 3 letters. </ng-template>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label nzRequired
        nzFor="name">Note</nz-form-label>
      <nz-form-control [nzErrorTip]="noteError">
        <textarea type="text"
          nz-input
          formControlName="someNote"
          [nzAutosize]="{ minRows: 2, maxRows: 2 }"
          placeholder="Please input note"> </textarea>
        <ng-template #noteError>Note should be at least 3 letters. </ng-template>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <button nz-button
        nzType="primary"
        nzSize="large"
        nzShape="round"
        nz-tooltip
        [disabled]="type ==='edit'"
        [nzTooltipVisible]="type === 'edit' && !isLoading "
        [nzTooltipTitle]="(type === 'edit' ? 'Edit not supported in our smart contract !' : empty)"
        nzTooltipPlacement="bottom"
        type="submit"><i nz-icon
          [nzType]="type ==='add' ? 'plus' : 'save'"
          nzTheme="outline"></i> {{action}}</button>
    </nz-form-item>
  </form>
</nz-spin>
