<div class="card"
  *ngIf="!editMode && citizen">
  <div class="card-avatar">
    <img [src]="avatar">
  </div>
  <div class="card-edit-btn"
    (click)="edit()"
    [innerHtml]="icons.EDIT_ICON | avoidSanitize">
  </div>
  <div class="card-content">
    <h2 class="card-content-name"
      [attr.data-age]="citizen.age + ' years'"> {{citizen.name}}</h2>
    <button nz-button
      [disabled]="!citizen.id"
      (click)="showNote(citizen.id)"
      nzType="primary"
      nzShape="round"
      nzBlock><i nz-icon
        nzType="comment"
        nzTheme="outline"></i> Show notes</button>
    <div class="card-content-city"><span [innerHtml]="icons.CITY_ICON | avoidSanitize"></span>{{citizen.city}}</div>
  </div>
</div>
<div class="card"
  *ngIf="editMode">
  <app-form type="edit"
    [citizen]="citizen"
    (onBack)="hideForm()"
    (onSubmit)="submit($event)"></app-form>
</div>
