<nz-row class="page-header"
  nzType="flex"
  nzJustify="start"
  nzAlign="middle">
  <nz-col>
    <h1>Our Happy Citizens</h1>
  </nz-col>
</nz-row>
<nz-row nzType="flex"
  nzJustify="space-around"
  nzAlign="middle"
  *ngIf="isLoading">
  <nz-col class="item"
    *ngFor="let loader of loaderItems">
    <nz-skeleton [nzActive]="true"
      [nzParagraph]="{ rows: 13 }">
    </nz-skeleton>
  </nz-col>
</nz-row>
<nz-row nzType="flex"
  nzJustify="space-around"
  nzAlign="middle">
  <nz-col class="item"
    *ngIf="!isLoading">
    <div class="add-mode"
      *ngIf="!addingMode">
      <nz-row nzType="flex"
        nzJustify="center"
        nzAlign="middle"
        style="height:100%">
        <nz-col>
          <button nz-button
            nzType="primary"
            nzSize="large"
            nzShape="round"
            (click)="addCitizen()"
            [disabled]="isLoading"><i nz-icon
              nzType="user-add"
              nzTheme="outline"></i> Add Citizen</button>
        </nz-col>
      </nz-row>
    </div>
    <div *ngIf="addingMode">
      <nz-spin nzTip="Loading..."
        [nzSpinning]="isAdding">
        <app-form type="add"
          (onBack)="hideForm()"
          (onSubmit)="submit($event)"></app-form>
      </nz-spin>
    </div>
  </nz-col>
  <ng-container *ngIf="!isLoading">
    <nz-col class="item"
      *ngFor="let citizen of citizens;let i=index">
      <nz-spin nzTip="Loading..."
        [nzSpinning]="isCardLoading && i == cardIndex">
        <app-card (onShowNote)="getNoteById($event,i)"
          [avatar]="avatars[i] ? avatars[i] : '../../assets/images/undraw_image_upload_wqh3.svg'"
          [citizen]="citizen"
          (onSubmit)="submit($event)"></app-card>
      </nz-spin>
    </nz-col>
  </ng-container>
</nz-row>
<nz-row nzType="flex"
  nzJustify="start"
  nzAlign="middle"
  class="pagination"
  *ngIf="!isLoading">
  <nz-col>
    <nz-pagination [nzPageSize]="pageSize"
      [(nzPageIndex)]="currentPage"
      (nzPageIndexChange)="onPaginate($event)"
      nzSize="large"
      [nzTotal]="total"></nz-pagination>
  </nz-col>
</nz-row>
