@font-face {
  font-family: 'Roboto';
  src: url('/assets/fonts/Roboto/Roboto-Regular.woff');

}

body {
  font-family: 'Roboto', sans-serif;
}


.icon-tabler-pencil {
  position: relative;
  display: block;
  margin: auto;
  top: 7px;
}

.icon {
  vertical-align: middle;
}

.icon.inline {
  margin-right: 10px;
}

body {
  background: linear-gradient(3deg, #f6f5fa, #fff);
  height: 100vh;
}
